<!---------- Home greeting ---------->
<div class="container px-4 py-5 mt-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 shadow-lg">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://i.ibb.co/Ny4q9fC/sven-mieke-j-O6v-BWX9h9-Y-unsplash.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="fw-bold mb-3">MeFit - We help you stay fit.</h1>
      <p class="lead">This app is a solution for managing your weekly training goals.</p>
      <p class="lead">To start you need to login, you can do it!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" (click)="startJourney()">Start you journey</button>
      </div>
    </div>
  </div>
</div>
