<!---------- Set-goal page header ---------->
<section *ngIf="exercises.length == 0 && !loading" class="container row mx-auto my-3 gap-2">
  <div class="p-3 pb-md-4 mx-auto text-center">
    <h1 class="fs-3 fw-normal">Can't show exercises.</h1>
    <p class="fs-5 text-muted">
      Looks like this workout doesn't have exercises. Please contact to developers.
    </p>
  </div>
</section>

<section *ngIf="exercises.length > 0" class="container row mx-auto my-3 gap-2">
  <div class="p-3 pb-md-4 mx-auto text-center">
    <h1 class="fs-3 fw-normal">Workout: {{ workoutName }}</h1>
    <p class="fs-5 text-muted">
      Complete all exercises and then press complete this workout to finish.
    </p>
  </div>
</section>

<app-exercise-list-item
  *ngFor="let exercise of exercises;let indexOfElement=index;"
  [exercise]="exercise"
  [indexOfElement]="indexOfElement + 1"
></app-exercise-list-item>

<div *ngIf="exercises.length > 0 && !loading" class="col-3 d-grid gap-2 mx-auto">
  <button
    type="button"
    class="btn btn-primary my-4"
    (click)="completeWorkout(workoutId)"
  >
    Complete this workout
  </button>
</div>
