<div class="card text-start">
  <div class="card-header"><h5 class="mb-0 card-title">Profile settings</h5></div>
  <div class="list-group list-group-flush">
    <a routerLink="/profile/account" routerLinkActive="active"
       class="list-group-item-action list-group-item">Account</a>
    <a routerLink="/profile/addresses" routerLinkActive="active" class="list-group-item-action list-group-item">Addresses</a>
    <a routerLink="/profile/fitness-attributes" routerLinkActive="active"
       class="list-group-item-action list-group-item">Fitness Attributes</a>
  </div>
</div>
